
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 100px;
    margin-top:0;
    padding: 20px;
    background-image: url('Background.jpg');
    background-repeat: no-repeat;
    background-size: 130%;
    
}
header {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}
h1{
    text-align: center;
    background-color: #c4ccf6;
    color: rgb(15, 61, 70);
    border: 2px dashed black;
    border-radius: 5px;
    padding: 10px;
}

.draggableContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    cursor: grab;
    transition: background-color 0.3s;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}

.box:active {
    cursor: grabbing;
}

.box:hover {
    background-color: #45a049;
}

.droppableContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px dashed #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}

.droppable {
    width: 100px;
    height: 100px;
    background-color: #2196F3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}

.droppable:hover {
    background-color: #1976D2;
}

.board {
    margin-top: 20px;
    text-align: center;
    
}

#remarks {
    font-weight: bold;
    color: #333;
}

#scores {
    font-weight: bold;
    color: #ff5722;
}
.reset{
  width:150px;
  height:50px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}